---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: four-nginx-deployment
spec:
  selector:
    matchLabels:
      app: four-nginx
  replicas: 3
  template:
    metadata:
      labels:
        app: four-nginx
    spec:
      containers:
        - name: nginx
          image: nginx:latest
          ports:
            - containerPort: 80
              protocol: TCP
              name: http
          resources:
            limits:
              cpu: 100m
              memory: 128Mi
            requests:
              cpu: 100m
              memory: 128Mi